@media screen {

    .about-c {
        background-color: var(--bg-color2);
        padding:20px 0;        
        height: auto;
    }

    .abtContainer {
        display: flex;
        flex-wrap: wrap;
        margin: 0 20px;
    }

    .abtContainer h1 {
        color: var(--primary-color);
        font-size: 1.6rem;
        text-align: center;
        padding: 20px 0;
        width: 100%;
    }

    .hide {

        display: none;
    }
    
    .card {
        margin: 15px 0;
        border-radius: 20px;
        background-color: var(--bg-color);
    
    }

    
    .shadow {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    }

    .cardImg {
        border-radius: 20px 20px 0 0;
        object-position: center;
        object-fit: cover;
        height:220px;
        width: 100%;
    }

    .cardTxt {
        padding:8px;
    }

    .cardTxt h3 , h4 {
        font-weight: 400;
        font-size:1rem;
        margin:5px 0;
    }

    .cardTxt p {
        font-weight:100;
        font-size:0.9rem;
        padding-bottom: 10px;
    }

}

/* ipad/tablet */
@media only screen and (min-width:48.0em){ 

    .abtContainer h1 {
        color: var(--primary-color);
        text-align: center;
        font-size: 2.5rem;
        padding: 0;
    }
    
    .card {
        border-radius: 20px;
        margin: 20px 0;
    
    }

    .cardImg {
        height:300px;
    }

    .cardTxt {
        min-height:300px;
        padding:12px;
    }

    .cardTxt h3 , h4 {
        font-size: 1.7rem;
        font-weight: 500;
        margin:10px 0;
    }

    .cardTxt p {
        font-weight:100;
        font-size: 1.8rem;
        padding-bottom: 10px;
    }

}


/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {

    
    .abtContainer {
  
        display: flex;
        margin: 0 30px;
        
    }

    .abtContainer h1 {
        color: var(--primary-color);
        text-align: center;
        font-size: 3rem;
        padding: 0;
    }
    
    .card {
        border-radius: 20px;
        margin: 20px 0;
    
    }

    .cardImg {
        height:300px;
    }

    .cardTxt {
        min-height:300px;
        padding:10px 15px;
    }

    .cardTxt h3 , h4 {
        font-size: 2.2rem;
        font-weight: 500;
        margin:18px 0;
    }

    .cardTxt p {
        font-weight:100;
        font-size: 2rem;
        padding-bottom: 10px;
    }


}

/* large screens : Desktop and 4k screens */
@media only screen and (min-width:64.063em) and (max-width:90.0em) {

    .abtContainer {
        flex-wrap:wrap;
        flex-direction: row;
        align-items: center;
        justify-content:center;
    }

    .abtContainer h1 {
        color: var(--primary-color);
        text-align: center;
        font-size: 3rem;
        padding: 20px 0;
    }

    .hidden {
        display: none;
    }

    .hide {

        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-color);
        background-color: var(--bg-color2);
    }
    
    .card {
        border-radius: 20px;
        margin: 20px 20px;
        width: 450px;
    
    }


    .cardImg {
        height:250px;
    }

    .cardTxt {
        min-height:300px;
        padding: 0;
        padding-left: 10px ;
    }

    .cardTxt h3 , h4 {
        font-size: 1.4rem;
        font-weight: 500;
        margin:15px 0;
    }

    .cardTxt p {
        font-weight:100;
        font-size: 1.2rem;
        padding-bottom: 10px;
    }
 
}


/* 5k screens and above */
@media only screen and (min-width:91.0em) {

    .abtContainer {
        flex-wrap:wrap;
        flex-direction: row;
        margin:0 70px;
        align-items: center;
        justify-content:center;
    }

    .abtContainer h1 {
        color: var(--primary-color);
        text-align: center;
        font-size: 4rem;    
        padding: 20px 0;
    }

    .hidden {
        display: none;
    }

    .hide {

        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-color);
        background-color: var(--bg-color2);
    }
    
    .card {
        border-radius: 20px;
        margin: 40px;
        width: 600px;
    
    }


    .cardImg {
        height:350px;
    }

    .cardTxt {
        min-height:350px;
        padding: 0;
        padding-left: 10px ;
    }

    .cardTxt h3 , h4 {
        font-size: 2rem;
        font-weight: 600;
        margin:15px 0;
    }

    .cardTxt p {
        font-weight:100;
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
    
}